@import "reset.css";
@import "fonts.styl"

body
	font-family 'DroidSerifRegular', serif
	padding 5%
	line-height 1.5em
	overflow hidden

img
	width 100%

blockquote
	padding-left 25px
	line-height 1.5
	font-size 1.1em
	font-family: 'SourceSansProLightItalic', serif;

a
	text-decoration none
	font-style italic
	color: #55B4AB 
	border-bottom 1px dotted #55B4AB
	
strong
	font-weight bold

em
	font-style italic

.marked
	background yellow

	&.hidden
		background transparent

p
	padding-top 0.5em
	padding-bottom 0.5em