@font-face {
    font-family: 'SourceSansProSemiboldItalic';
    src: url('../fonts/SourceSansPro-SemiboldIt-webfont.eot');
    src: url('../fonts/SourceSansPro-SemiboldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-SemiboldIt-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-SemiboldIt-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-SemiboldIt-webfont.svg#SourceSansProSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBold';
    src: url('../fonts/SourceSansPro-Bold-webfont.eot');
    src: url('../fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Bold-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Bold-webfont.svg#SourceSansProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBoldItalic';
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-BoldIt-webfont.eot');
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-BoldIt-webfont.woff') format('woff'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-BoldIt-webfont.ttf') format('truetype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-BoldIt-webfont.svg#SourceSansProBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBlack';
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-Black-webfont.eot');
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-Black-webfont.woff') format('woff'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-Black-webfont.ttf') format('truetype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-Black-webfont.svg#SourceSansProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBlackItalic';
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-BlackIt-webfont.eot');
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-BlackIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-BlackIt-webfont.woff') format('woff'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-BlackIt-webfont.ttf') format('truetype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-BlackIt-webfont.svg#SourceSansProBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProExtraLight';
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-ExtraLight-webfont.eot');
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-ExtraLight-webfont.woff') format('woff'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-ExtraLight-webfont.ttf') format('truetype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-ExtraLight-webfont.svg#SourceSansProExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProExtraLightItalic';
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-ExtraLightIt-webfont.eot');
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-ExtraLightIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-ExtraLightIt-webfont.woff') format('woff'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-ExtraLightIt-webfont.ttf') format('truetype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-ExtraLightIt-webfont.svg#SourceSansProExtraLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProLight';
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-Light-webfont.eot');
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-Light-webfont.woff') format('woff'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProLightItalic';
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-LightIt-webfont.eot');
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-LightIt-webfont.woff') format('woff'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-LightIt-webfont.ttf') format('truetype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-LightIt-webfont.svg#SourceSansProLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-Regular-webfont.eot');
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProItalic';
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-It-webfont.eot');
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-It-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-It-webfont.woff') format('woff'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-It-webfont.ttf') format('truetype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-It-webfont.svg#SourceSansProItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProSemibold';
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-Semibold-webfont.eot');
    src: url('/assets/fonts/source_sans_pro/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-Semibold-webfont.woff') format('woff'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         url('/assets/fonts/source_sans_pro/SourceSansPro-Semibold-webfont.svg#SourceSansProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerifRegular';
    src: url('/assets/fonts/droid_serif/DroidSerif-Regular-webfont.eot');
    src: url('/assets/fonts/droid_serif/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/droid_serif/DroidSerif-Regular-webfont.woff') format('woff'),
         url('/assets/fonts/droid_serif/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/droid_serif/DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerifItalic';
    src: url('/assets/fonts/droid_serif/DroidSerif-Italic-webfont.eot');
    src: url('/assets/fonts/droid_serif/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/droid_serif/DroidSerif-Italic-webfont.woff') format('woff'),
         url('/assets/fonts/droid_serif/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/droid_serif/DroidSerif-Italic-webfont.svg#DroidSerifItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerifBold';
    src: url('/assets/fonts/droid_serif/DroidSerif-Bold-webfont.eot');
    src: url('/assets/fonts/droid_serif/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/droid_serif/DroidSerif-Bold-webfont.woff') format('woff'),
         url('/assets/fonts/droid_serif/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/droid_serif/DroidSerif-Bold-webfont.svg#DroidSerifBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerifBoldItalic';
    src: url('/assets/fonts/droid_serif/DroidSerif-BoldItalic-webfont.eot');
    src: url('/assets/fonts/droid_serif/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/droid_serif/DroidSerif-BoldItalic-webfont.woff') format('woff'),
         url('/assets/fonts/droid_serif/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/droid_serif/DroidSerif-BoldItalic-webfont.svg#DroidSerifBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}