html, body
	font-family: 'SourceSansProRegular', sans-serif;
	height 100%
	font-size 16px
	font-weight 400
	line-height 1.3em

a, a:hover, a:visited, a:active
	text-decoration none
	color black

button
	font-size 12px
	text-transform uppercase
	font-weight 600
	background #dedede
	color #444
	border-radius 3px
	border none
	min-width 100px
	padding 5px
	cursor pointer
	
	&:hover
		background #dedede

input:disabled
	border none
	color #aaa

.form
	padding 20px

	.input
		width 100%
		margin-bottom 10px

		label
			display inline-block
			width 25%
			margin-right 5px
			text-align right

		input
			width 60%
			display inline-block

	.form-action
		margin-left 25%
		padding-left 5px

.btn
	padding 5px
	border 1px solid #ccc
	cursor pointer
	text-transform uppercase
	font-size 0.8em

.btn:hover
	background #efefef

.ui-datepicker td span, .ui-datepicker td a
	text-align center