sidebar_width = 250px

#container
	height 100%
	width 100%
	float left
	overflow hidden

#sidebar 
	background #efefef
	width sidebar_width
	height 100%
	float left

	.articles
		position: absolute
		top 0px
		bottom 50px
		width sidebar_width
		overflow-y auto
		overflow-x hidden

	.item
		padding 15px 10px 15px 10px
		background #efefef
		border-bottom: 2px solid #ccc
		float left
		width sidebar_width - 20
		cursor pointer

		&:hover
			background-color #e7e7e7

		&.new
			font-weight 700
			text-align center
			position fixed
			bottom 0
			text-transform uppercase
			border-top: 2px solid #ccc
			border-bottom none

#content
	margin-left 250px
	height 100%
	overflow auto
		
	#form
		height 100%
		width 40%
		float left
		margin-left -1px
		border-right 1px solid #ccc
		overflow auto

	#wysihtml5-toolbar
		font-size 0.8em

	#frame
		height 100%	
		width 60%
		float left

		.iframe
			display none
			height 100%	
			width 100%

			iframe
				height 100%	
				width 100%

		.menu
			float right
			position absolute
			right 10px
			top 10px
			z-index 100

		.html
			width 100%
			height 100%

			textarea
				font-family 'Monaco'

			.wysihtml5
				width 100%
				height 100%

				.wysihtml5-sandbox
					width 100%
					height 100%

				img
					width 100%

				textarea
					width 100%
					height 100%
					
#content

	.source
		width 100%
		height 100%
		overflow hidden
		
		iframe
			width 100%
			height 100%
	
	.article_holder
		width: 550px
		margin-left: -275px
		font-family 'DroidSerifRegular', serif !important
		padding 50px 50px 50px 50%
		line-height 1.6em
		
		.form_actions
				position: fixed
				right: 25px
				bottom 10px
				width: 100px
				
		.date_holder
			input
				border 1px dotted
				margin 0
				padding 0
				font-size: 1em
				font-family: 'SourceSansProRegular', serif;
					
		.title
			font-family: 'SourceSansProBlack', serif;
			font-size 2em
			line-height 1.2em
			
			input
				padding 0
				margin 0
				border 1px dotted
				display block 
				width 100%
				font-family: 'SourceSansProBlack', serif;
				font-size 1em
		
		.author
			font-family: 'SourceSansProItalic', serif;
			
			.input_holder
				display inline
				
				input
					display inline
					padding 0
					margin 0
					border 1px dotted
					font-family: 'SourceSansProItalic', serif;
					font-size 1em
		.editor
			iframe
				width 100%	
				border 1px dotted
		
		.body
			font-family 'DroidSerifRegular', serif !important
			padding 5%
			line-height 1.5em
			overflow hidden
		
		img
			width 100%
		
		blockquote
			padding-left 25px
			line-height 1.5
			font-size 1.1em
			font-family: 'SourceSansProLightItalic', serif;
		
		a
			text-decoration none
			font-style italic
			color: #55B4AB 
			border-bottom 1px dotted #55B4AB
			
		strong
			font-weight bold
		
		em
			font-style italic
		
		.marked
			background yellow
			cursor pointer
			padding 3px 0 2px 0
		
			&.hidden
				background transparent
		
		p
			padding-top 0.5em
			padding-bottom 0.5em			

	.menu
		position absolute;
		top: 20px
		right: 20px
		width: 100px
		z-index 2
		
	.read
		.article_holder
			display: block
			
			.meta_form
				display none
			
			.meta_data
				display block
			
			.body
				display block

			.editor
				display none
								
		.source
			display: none
			
		.edit
			display: none
	
	.source
		.article_holder
			display: none
		
		.edit
			display: none
			
		.source
			display: block

	.edit
		.article_holder
			display: block
			
			.meta_form
				display block
			
			.meta_data
				display none
				
			.body
				display none
		
		.form
			display: none
			
		.source
			display: none

.tooltip {
	position: absolute;
	width: 170px;
	background: #ccc;
	padding: 15px;
	opacity: 0;
	z-index: -1000;
	-webkit-transition: opacity 100ms ease-in;
	transition: opacity 100ms linear;
	
	&.visible {
		opacity: 1;
		z-index: 99;
	}
	
	input{
		padding: 5px;
		border: 0px;
		background: #eee;
		font-family: 'SourceSansProRegular', serif;
		font-size: 1em;
		width: 160px;
	}
	
	.tag {
		cursor: pointer;
		float: left;
		margin: 0 4px 4px 0;
		padding: 4px 8px 4px 8px;
		background: #aaa;
		
		&:hover{
			background: #bbb;
		}
	}
}	