<div id="toolbar" class="menu">
	<button id="read_btn">Read</button>
	<button data-wysihtml5-action="show_composer" id="edit_btn">WYSIWYG</button>
	<button data-wysihtml5-action="show_textarea" id="html_btn">HTML</button>
	<button id="source_btn">Source</button>
</div>
<div class="article_holder">
	<div class="form_actions">
		<button id="save_btn">Save</button>
		<button id="remove_btn">Remove</button>
	</div>
	<input id="input_source" type="hidden" value="{{source}}"/>
	<div class="story">
		<div class="meta_form">
			<div class="date_holder">
				<input id="input_date" name="date" type="text" class="date" value="{{date.date}}" />
			</div>
			<div class="title">
				<input id="input_title" value="{{title}}"/>
			</div>			
			<div class="author">
				by&nbsp;
				{{#if author}}
					{{#each author}}
					<div class="input_holder">
						<input name="hidden_author[]" class="hidden_author" type="hidden" value="{{id}}"/>	
						<input name="author[]" class="author" value="{{firstName}} {{lastName}}"/>	
					</div>
					{{/each}}
				{{/if}}
				<div class="input_holder">
					<input name="hidden_author[]" class="hidden_author" type="hidden" value=""/>	
					<input name="author[]" class="author" placeholder="add author..." value=""/>	
				</div>
			</div>
		</div>
		<div class="meta_data">
			<div class="date_holder">
				{{timestamp}}
			</div>
			<div class="title">
				<h1>{{title}}</h1>
			</div>
			<div class="author">
				by&nbsp;
				{{#if author}}
					{{#each author}}
						<span class="value">{{firstName}} {{lastName}},</span>
					{{/each}}
				{{/if}}
			</div>
		</div>
		<div class="body">
			{{{html}}}
		</div>
		<div class="editor">
			<textarea id="html" style="width: 100%">{{{html}}}</textarea>
		</div>
	</div>
</div>

<div class="source">
	<iframe src=""></iframe>
</div>