<div class="scraper form">
	<h2>Start with an URL</h2>
	<div class="input">
		<input id="source_url" type="text" placeholder="URL"/>
		<button id="submit_url">Get content&nbsp;&nbsp;&nbsp;<span class="iconic play"></span></button>
	</div>
</div>